.shopping-cart{
	background-color: #209696;
	color: #fff;
	margin: 1rem;
	padding: 1rem;
	/*display: flex;*/
	
	
}
.shopping-cart__ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 1rem;
}

.shopping-cart__li{
	
}